
body {
    background-color: rgb(58, 58, 58);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color:rgb(255, 255, 255);
  }
  input {
    padding:10px;
    text-align: center;
    border-radius: 5px;
  }

  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }

  /* Hide all steps by default: */
  .page {
    display: none;
  }

  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .tab {
    margin-left: 40px; 
  }

  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  .previousNextPadding {
    margin-left: 40px;
    background-color: white;
    padding:7px;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(61, 113, 255);
  }

  .previousNextColor {
    background-color: white;
    padding:7px;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(61, 113, 255);
  }

  .addButton {
    margin-top: 30px;
    background-color: rgb(214, 214, 214)white;
    padding:7px;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(61, 113, 255);
  }

  .description {
    width: 400px;
    text-align: left;
  }
  .row {
    display: flex;
  }

  .column {
    flex: 50%;
  }

  #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }