<!DOCTYPE html>
<html>
    <head>
        <title>ResuMaker - Education</title>
        <link href = "style.css" rel = "stylesheet" type = "text/css" />
    </head>

    <body>
        <h2>Education</h2>
        <form action="">
        <p><input type="text" placeholder="School Name" required>
            <input class ="tab"type="text" placeholder="Location" required></p>
            <p><input type="text" placeholder="Email" required>
            <input class ="tab" type="text" placeholder="Phone Number" required></p>
            <p><input type="text" placeholder="Start Date - End Date"></p>
            <p><button type="button" class = "addButton" >Add Additional Education</button></p>
            <p><button type="button" class = "previousNextColor" onclick="window.location.href='personal_info.html';">Back</button>
                <button class = "previousNextPadding" type="button" onclick="window.location.href='skills.html';">Next</button></p>
    
          </form>
    </body>
</html>