<!DOCTYPE html>
<html>
    <head>
        <title>ResuMaker - Finish</title>
        <link href = "style.css" rel = "stylesheet" type = "text/css" />
    </head>

    <body>
        <h2>How would you like your resume?</h2>
        <div class = "row">
            <div class = "column">
                <h3>Email</h3>
                <form action="">
                    <p><input type="email" placeholder="Email Address"></p>
                    <p><button type="submit" class = "addButton">Email</button></p>
                </form>
            </div>
            <div class = "column">
                <h3>Download</h3>
                <p>Your resume will open in a separate tab</p>
                <p><button type="button" class = "addButton">Download</button></p>
            </div>
        </div>
    </body>
</html>