<!DOCTYPE html>
<html>
    <head>
        <title>ResuMaker - Personal Information</title>
        <link href = "style.css" rel = "stylesheet" type = "text/css" />
    </head>

    <body>
        <h2>Personal Information</h2>
        <form action="">
            <p><input type="text" placeholder="First Name" required></p>
            <p><input type="text" placeholder="Last Name" required></p>
            <p><input type="email" placeholder="Email" required></p>
            <p><input type="tel" placeholder="Phone Number" required></p>
            <p><button type="button" class = "previousNextColor" onclick="window.location.href='landing.html';">Back</button>
                <button type="submit" class = "previousNextPadding" onclick="window.location.href='education.html';">Next</button></p>
          </form>
    </body>
</html>