<!DOCTYPE html>
<html>
    <head>
        <title>ResuMaker - Skills</title>
        <link href = "style.css" rel = "stylesheet" type = "text/css" />
    </head>

    <body>
        <h2>Skills</h2>
        <form action="">
            <p><input type="text" placeholder="Skill Name">
            <button type="submit" class = "addButton">Add Skill</button></p>
          </form>

          <p><button type="button" class = "previousNextColor" onclick="window.location.href='education.html';">Back</button>
            <button type="button" class = "previousNextPadding" onclick="window.location.href='work.html';">Next</button></p>
    </body>
</html>