<!DOCTYPE html>
<html>
    <head>
        <title>ResuMaker - Work Experience</title>
        <link href = "style.css" rel = "stylesheet" type = "text/css" />
    </head>

    <body>
        <h2>Work Experience</h2>
        <form action="">
        <p><input type="text" placeholder="Company" required>
            <input class ="tab"type="text" placeholder="Location" required></p>
            <p><input type="text" placeholder="Title" required>
            <input class ="tab" type="text" placeholder="Start Date-End Date" required></p>
            <p><input type="text" placeholder="Start Date - End Date"></p>
            <p><input class = "description" type="text" placeholder = "Description"></p>
            <p><button type="button" class = "addButton" >Add Additional Experience</button></p>
            <p><button type="button" class = "previousNextColor" onclick="window.location.href='skills.html';">Back</button>
                <button class = "previousNextPadding" type="button" onclick="window.location.href='review.html';">Next</button></p>
    
          </form>
    </body>
</html>